@harvesthq:registry=https://npm.pkg.github.com/

# This is a personal access token for the harvest-private-dependencies github
# user
//npm.pkg.github.com/:_authToken=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
